.heading-service {
  color: #292f36;
  font-size: 36px;
  font-weight: 600;
}
.Service-ct {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
.side-line {
  margin-top: 10px;
  height: 35px;
  width: 10px;
}
.Service-title {
  font-size: 17px;
  color: #292f36;
  font-weight: 500;
  font-family: "Quattrocento Sans";
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Service-text {
  color: #8d8f92;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.service-itemBox {
  width: 22%;
  height: 200px;
}
.service-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 780px) {
  .service-itemBox {
    width: 45%;
    height: 200px;
  }
}
@media screen and (max-width: 480px) {
  .Service-ct {
    height: 100%;
    width: 100%;
    background-color: #fff;
  }
  .service-itemBox {
    width: 100%;
    height: 200px;
  }
  .service-itemBox {
    margin-top: 20px;
    margin-bottom: 5px;
  }
}
